*{
font-family: 'Dancing Script', cursive;
}

h3{
    color: cornflowerblue;
    text-decoration: underline;
}

body{
    background-color: antiquewhite;
    background-image(https://www.freepik.com/free-photos-vectors.jpg);
    background-size: cover;
}

li{
    list-style-type: upper-latin;
}

table {
    padding: 1em;
}

th{
    font-size: 24px;
    padding-right: 8px;
}

tr,td,th{
    border: 1px solid black;
    padding: 5em;
}

a:link {
    color:deeppink

}

a:visited {
    color: crimson;
}

a:hover {
    color:gold;
}

a:active{
    color: cyan;
}

.fancy-header {
    text-align: center;
    color: rebeccapurple;
    text-decoration: underline;
}



